In [1]:
import pandas as pd
import utils

%load_ext autoreload
%autoreload 2

In [2]:
cdc = pd.read_csv('./data/cdc_2022-11-11-13-43-06.csv')
jhu = pd.read_csv('./data/jhu_2022-11-11-13-44-14.csv')

In [3]:
utils.print_stats(cdc, jhu)

CDC start date = 2020-01-22
CDC end date = 2022-10-18
JHU start date = 2020-04-12
JHU end date = 2022-11-10

CDC avg rows per state = 1001.0
JHU avg rows per state = 943.0

In [4]:
new_cdc, new_jhu = utils.get_common_data(cdc, jhu)

In [5]:
utils.print_stats(new_cdc, new_jhu)

CDC start date = 2020-04-12
CDC end date = 2022-10-18
JHU start date = 2020-04-12
JHU end date = 2022-10-18

CDC avg rows per state = 920.0
JHU avg rows per state = 920.0

In [6]:
new_cdc.head()

,Date,State,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,2020-04-12,AK,272,NaN,NaN,15,NaN,9,NaN,NaN,0,NaN,04/12/2020 12:00:00 AM,NaN,NaN
1,2020-04-13,AK,277,NaN,NaN,5,NaN,9,NaN,NaN,0,NaN,04/13/2020 12:00:00 AM,NaN,NaN
2,2020-04-14,AK,285,NaN,NaN,8,NaN,9,NaN,NaN,0,NaN,04/14/2020 12:00:00 AM,NaN,NaN
3,2020-04-15,AK,293,NaN,NaN,8,NaN,9,NaN,NaN,0,NaN,04/15/2020 12:00:00 AM,NaN,NaN
4,2020-04-16,AK,300,NaN,NaN,7,NaN,9,NaN,NaN,0,NaN,04/16/2020 12:00:00 AM,NaN,NaN